body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


.pais {
    height: 778px;
    padding-top: 37px;
    padding-left: 76px;
    padding-right: 80.5px;
    padding-bottom: 142px;
    background-image: url("pildid/Hills.png"); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.pais > nav {
    display: flex;
    justify-content: space-between;
}

.pais > nav > .vasak {
    display: flex;
}

.pais > nav > .vasak > img {
    height: 82px;
}

.pais > nav > .vasak > div {
    font-size: 33px;
    font-weight: 800;
    text-transform: uppercase;
}

.pais > nav > .parem {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
}

.pais > nav > .parem > a {
    font-weight: 700;
    color: black;
    text-decoration: none;
    letter-spacing: 2.67px;
    opacity: 1;
}

h2 {
    padding-top: 338.1px;
    margin: 0;
    height: 48px;
    font-size: 39.57px;
    font-weight: 800;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

h1 {
    margin: 0;
    height: 91px;
    font-size: 74.39px;
    font-weight: 800;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

h4 {
    height: 93px;
    margin: 0;
    font-size: 20.83px;
    padding-top: 14.47px;
    font-weight: 800;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}


.button {
    position: absolute; left: 73px;
    width: 247px;
    height: 58px;
    text-align: center;
    font-size: 12.5px;
    font-weight: 800;
    letter-spacing: 2.25px;
    opacity: 1;
    color: white;
    background-color: black;
}

.vpilt {
    position: absolute;
    top: 520px;
    left: 35px;
    width: 60px;
    height: 32px;
}

.vpilt2 {
    position: absolute;
    top: 293px;
    left: 572px;
    width: 75px;
    height: 66px;
}

.girl {
    position: absolute;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    border-radius: 50%;
    top: 134px;
    right:-250px;
    width: 914px;
    height: 914px;
}

